{% extends 'app.html.twig' %}

{% block title %}Order Confirmation - Jake and Amy's Sub Shop{% endblock %}

{% block page_title %}Order Confirmation{% endblock %}
{% block body_tags %} class="order-confirmation-page"{% endblock %}


{% block body %}

    <div class="order-confirmation">
        <h2>Thank you! Your order has been confirmed</h2>
        <p>We will be preparing your food shortly... </p>
        <button id="order-btn" onclick="window.location.href='{{ path("app_order_status") }}'">Check Status</button>
    </div>

{% endblock %}


